<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order Status :</h5>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order Pending :</h5>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order Delivered :</h5>
            </div>
        </div>
      </div>
    </div>
</div>