<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="card text-white bg-primary mb-2">
            <div class="card-header text-center"><h5>Order Status</h5></div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header text-center"><h5>Order Pending</h5></div>
            <div class="card-body">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-white bg-success mb-3">
            <div class="card-header text-center"><h5>Order Delivered</h5></div>
            <div class="card-body">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>